.navbar {
    min-height: 50px;

    border-bottom: 13px solid #6abaa6;
}

.navbar-default{
    padding: 10px 0;

    border: #000;

    background-color: #7cdac2;
}

@media (min-width: 768px) {

}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: transparent;

    font-weight: bold;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: transparent;

    font-weight: bold;
}
