.navbar {
    min-height: 50px;

    border-bottom: 13px solid #6abaa6;
    border-bottom-right-radius: 110px;
    border-bottom-left-radius: 110px;
}

.navbar-default{
    padding: 10px 0;

    border: #000;

    background-color: #7cdac2;
}

@media (min-width: 768px) {
    .navbar {
        border-bottom-left-radius: 100px;
        border-bottom-right-radius: 100px;
    }
}

