.offers-wrapper {
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;

    nav {
        margin: 0.5em;
        display: block;
        padding: 1em;

        background-color: #eb7589;

        border-radius: 5px;

        color: #fff;
        text-decoration: none;

        transition: 0.2s transform;

        &:hover {
            transform: scale(1.05);
        }

        &:focus {
            outline: none;
        }
    }

    header {
        overflow: hidden;

        text-overflow: ellipsis;
        font-size: 120%;
    }

    img {
        margin: 0 auto;
        display: block;
        max-height: 100px;
    }

    .offers-category {

    }

    .offers-date {
        font-size: 75%;
    }

    .offers-price {
        float: right;

        font-size: 125%;

    }
}

.offer-clicked {
    transform: rotate(10deg) !important;
}
